.home{
    margin-left: 3%;
}

.home.hello{
    margin-top: 7%;
}

.home.fernando{
    margin-top: -2%;
}

.home.descripcion{
    overflow: hidden;
    text-overflow: ellipsis;
    width: 45%;
    margin-top: 4%;
}

.home.descripcion2{
    overflow: hidden;
    text-overflow: ellipsis;
    width: 35%;
    margin-top: 4%;
}

.buttons{

}