
.hello{
    position: absolute;
    top:10%;
    left: 3%
}

.fernando{
    position: absolute;
    top:26%;
    left: 3%
}

.descripcion{
    position: absolute;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 800px;
    top:55%;
    left: 3%
}

.home.descripcion2{
    overflow: hidden;
    text-overflow: ellipsis;
    width: 60em;
    margin-top: 4%;
}

.buttons{

}